<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studywithme</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Mapping -->
        <mapping class="com.studywithme.model.User"/>
        <mapping class="com.studywithme.model.Appointment"/>
        <mapping class="com.studywithme.model.School"/>
        <mapping class="com.studywithme.model.Role"/>
        <mapping class="com.studywithme.model.Rate"/>
        <mapping class="com.studywithme.model.Modify"/>
        <mapping class="com.studywithme.model.Friendship"/>
        <mapping class="com.studywithme.model.AbstractModel"/>
        <mapping class="com.studywithme.model.Address"/>
        <mapping class="com.studywithme.model.AddressType"/>
        <mapping class="com.studywithme.model.Ward"/>
        <mapping class="com.studywithme.model.District"/>
        <mapping class="com.studywithme.model.Report"/>
        <mapping class="com.studywithme.model.Test1"/>
        <mapping class="com.studywithme.model.Test2"/>

    </session-factory>
</hibernate-configuration>
