*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

ul{
    list-style: none;
}

body{
    background-color: #f5f5f5 !important;
    height: 100%;
    position: relative;
}

#main{
    height: 100%;
}

#header .header-noti{
    margin: 5px 0 !important;
}

#content {
    height: 100%;
    display: flex;
    width: 100%;
}

#content .content-left{
    width: 260px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    height: 100%;
}

.content-left a{
    width: 100%;
    background-color: #fff;
    border: none;
    text-align: left;
    font-size: 15px;
    padding: 20px 10px;
    margin-bottom: 5px;
    transition: 0.25s;
    text-decoration: none;
    color: black;
}

.content-left .r2{
    box-shadow: 3px 3px 5px 0px #aaaaaa;
    background-color: #f5f5f5;
}

.content-left a p{
    display: inline;
    font-weight: bold;
}

.content-left a i{
    float: right;
    padding-right: 5px;
}

.content-left a:hover{
    box-shadow: 3px 3px 5px 0px #aaaaaa;
    background-color: #f5f5f5;
}

#content .content-main{
    width: calc(100% - 260px);
    display: inline;
    padding: 40px;
    position: relative;
}

#content .title-main{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

#content .content-main .content-main-search{
    background-color: #fff;
    height: 35px;
    width: 300px;
    border-radius: 50px;
    margin: 20px 0;
}

#content .content-main .content-main-search i{
    padding: 5px;
    margin: 6px;
    color: #8a8a8a;
}

#content .content-main .content-main-search input{
    border: none;
    outline: none;
}

#content .content-list-user{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content .content-list-user .item{
    background-color: #d9d9d9;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    transition: 0.25s;
    cursor: pointer;
}

#content .content-list-user .item:hover{
    box-shadow: 3px 3px 5px 0px #aaaaaa;
    background-color: #c0c0c0;
}

#content .content-list-user .item p{
    margin: 0;
}

#content .content-list-user .item .ava-name{
    font-size: 17px;
    font-weight: bold;
}

#content .content-list-user .item img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

#content .content-list-user .item .ava-name,
#content .content-list-user .item .birth,
#content .content-list-user .item .sex{
    width: 360px;
    display: flex;
    align-items: center;
}

#content .content-list-user .item .sex{
    width: 230px;
}

#content .content-list-user .item .title{
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

#content .content-list-user .item .birth .date{
    border: none;
    background-color: #d9d9d900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000;
}

#content .content-list-user .item .buttons{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 220px - 220px - 150px);
    padding-right: 20px;

}

#content .content-list-user .item .button{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: none;
    align-self:flex-end;
    font-weight: bold;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
}

#content .content-list-user .item .button:hover{
    padding-right: 20px;
    padding-left: 20px;
}

#content .content-list-user .item .button i{
    margin-right: 5px;
    color: #fff;
}

#content .content-list-user .item .buttons .remove{
    background-color: #e84655;
}

#content .content-list-user .item .buttons .lock{
    background-color: #e8b236;
}

#formPaging{
    position: absolute;
    bottom: 0;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
}

#formPaging a{
    font-weight: bold;
    font-size: 14px;
}

#formPaging .page-item.active .page-link{
    z-index: 0;
}

.panel{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 80%);
    top:0;
}

.detail-div{
    display: flex;
    justify-content: center;
}

.detail-div .detail-div-main{
    position: absolute;
    top: 0;
    background: white;
    width: 800px;
    min-width: 800px;
    border-radius: 10px;
    margin: 30px 0;
    padding: 30px;
}

.detail-div .detail-div-main .title-main{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.detail-div .detail-div-main .ava{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: calc(50% - 150px);
    margin-top: -150px;
    border: 1px solid #c4c4c4;
    object-fit: cover;
}

.detail-div .detail-div-main .background{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
}

.detail-div .detail-div-main .name{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.detail-div .detail-div-main .role{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.detail-div .detail-div-main .role .title{
    font-style: italic;
    font-weight: bold;
}

.detail-div .detail-div-main .role .list-role{
    font-style: italic;
    margin: 0 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.detail-div .detail-div-main .infor-user .title-edit{
    display: block;
    width: 100%;
    margin-left: 45px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

.detail-div .detail-div-main .infor-user .list{
    display: flex;
    margin: 20px 0;
    margin-left: 100px;
}

.detail-div .detail-div-main .infor-user .list i{
    width: 30px;
    text-align: center;
    margin-right: 5px;
}

.detail-div .detail-div-main .infor-user .list .content{
    font-weight: bold;
    width: 150px;
}

.detail-div .detail-div-main .infor-user .list .date{
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-div .detail-div-main .infor-user .exit{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 26px;
    width: 35px;
    border-radius: 7px;
    font-weight: bold;
    background: #e84655;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.25s;
}

.detail-div .detail-div-main .infor-user .exit:hover{
    transform: scale(1.2);
}

.hide{
    display: none;
}